{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tags - Scrumptious</title>
</head>

<body>
  <header>
    <p>
    <form method="GET">
      <input type="text" name="q">
      <button type="submit">Search</button>
    </form>
    </p>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="{% url 'tag_new' %}">Write a</a>
        </li>
      </ul>
    </nav>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </header>
  <main class="tag-grid">
    {% for in_list %}
    <div class="tag-card">
      <h2 class="tag-card-title">
        <a href="{% url 'tag_detail'.pk %}">{{.name }}</a>
      </h2>
      <p class="tag-card-date">{{.updated }}</p>
    </div>
    {% endfor %}
  </main>
</body>

</html>